.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #fff; 
  background-color: #2A2C2F;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 28px 48px 0 48px;
}

@media (max-width: 768px) {
  .header {
    margin: 28px 24px 0 24px;
  }
}

@media (max-width: 440px) {
  .header {
    margin: 16px 16px 0 16px;
  }
}

.header__logo {
  max-width: 100%;
}

@media (max-width: 440px) {
  .header__logo {
    max-width: 142px;
  }
}

.header__lang-links {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.heder__lang-link {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 0 18px;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out;
}

.heder__lang-link:hover {
  opacity: .8;
}

@media (max-width: 440px) {
  .heder__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

.heder__lang-link_active {
  border-bottom: 1.5px solid #fff;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 148px;
  padding-top: 56px;
}

@media (max-width: 1024px) {
  .lead {
    padding-top: 48px;
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .lead {
    margin: 0;
  }
}

@media (max-width: 520px) {
  .lead {
    margin: 0 16px;
  }
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 0 32px 0;
  max-width: 720px;
}

@media (max-width: 768px) {
  .lead__title {
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 32px 0;
  }
}

@media (max-width: 440px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 16px 0;
  }
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  margin: 0;
}

@media (max-width: 440px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}

.lead__image {
  max-width: 100%;
  padding-top: 64px;
}

@media (max-width: 1024px) {
  .lead__image {
    padding-top: 56px;
  }
}

@media (max-width: 440px) {
  .lead__image {
    padding-top: 40px;
  }
}

.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0 0;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 440px) {
  .lead__caption {
    margin-left: 16px;
  }
}

.intro {
  margin: 0 148px;
  max-width: 690px;
}

@media (max-width: 1024px) {
  .intro {
    margin: 0 48px;
  } 
}

@media (max-width: 768px) {
  .intro {
    margin: 0 24px;
    max-width: none;
  } 
}

@media (max-width: 440px) {
  .intro {
    margin: 0 16px;
  } 
}

.intro__title {
  margin: 92px 0 0 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
} 

@media (max-width: 768px) {
  .intro__title {
    margin-top: 88px;
  } 
}

@media (max-width: 440px) {
  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 35px;
  } 
}

.intro__text {
  margin: 40px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  list-style: none;
  padding: 0;
  margin: 33px 0 0 0;
}

.intro__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.intro__item_number {
  font-weight: 400;
}

.photo-grid {
  display: grid;
  padding: 92px 48px 0 48px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 92px 48px 0 48px;
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 88px 24px 0 24px;
    gap: 16px;
  }
}

@media (max-width: 440px) {
  .photo-grid {
    grid-template-columns: 1fr;
    padding: 64px 16px 0 16px;
    gap: 12px;
  }
}

.photo-grid__item {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.places {
  margin: 0 148px;
  padding-top: 92px;
}

@media (max-width: 1024px) {
  .places {
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .places {
    margin: 0 24px;
    padding-top: 88px;
  }
}

@media (max-width: 650px) {
  .places {
    margin: 0;
    padding-top: 64px;
  }
}

.places__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.places__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 48px;
  padding-bottom: 80px;
}

.places__item:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 1024px) {
  .places__item {
    column-gap: 32px;
  }
}

@media (max-width: 768px) {
  .places__item {
    column-gap: 28px;
    padding-bottom: 73px;
  }
}

@media (max-width: 650px) {
  .places__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    gap: 0;
  }
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 650px) {
  .place__title {
    font-size: 32px;
    line-height: 35px; 
    padding: 0 16px 32px 16px; 
  }
}

.place__website {
  align-self: flex-end;
}

@media (max-width: 650px) {
  .place__website {
    align-self: flex-start;
    padding: 0 16px 32px 16px;
  }
}

.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  color: #aaa;
}

.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: inherit;
  transition: opacity 0.4s ease-in-out;
}

.place__link:hover {
  opacity: .8;
}

.place__image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 650px) {
  .place__image {
    padding: 0 24px 32px 24px; 
  }
}

@media (max-width: 440px) {
  .place__image {
    padding: 0 0 32px 0; 
  }
}

.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 0  0 26px 0;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .place__paragraph {
    padding: 0 16px; 
  }
}

.cover {
  margin: 92px 48px 0 48px;
  display: grid;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .cover {
    margin: 92px 0 0 0;
  }
} 

@media (max-width: 440px) {
  .cover {
    margin: 66px 0 0 0;
  }
}

.cover__text {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media (max-width: 520px) {
  .cover__text {
    max-width: 288px;
  }
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
  max-width: 560px;
} 

@media (max-width: 520px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px 0 0 0;
  max-width: 360px;
}

@media (max-width: 520px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}

.cover__overlay {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
  grid-column: 1/-1;
  grid-row: 1/-1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 0.6s ease-in-out;
}

.cover__overlay:hover {
  opacity: 0.3;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px 48px 24px 48px;
}

@media (max-width: 1000px) {
  .footer {
    margin: 88px 24px 24px 24px;

  }
}

@media (max-width: 750px) {
  .footer {
    flex-direction: column;
    margin: 64px 16px 24px 16px;
  }
}

.footer__links {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 750px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}

.footer__link {
  font-size: 16px;
  line-height: 18px;
  margin: 32px 18px 0 0;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out;
}

.footer__link:hover {
  opacity: .8;
}

@media (max-width: 750px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }
}

.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media (max-width: 750px) {
  .footer__copyright {
    padding-top: 48px;
    line-height: 14px;
  }
} 