.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px 0 0 0;
  max-width: 360px;
}

@media (max-width: 520px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}