.intro {
  margin: 0 148px;
  max-width: 690px;
}

@media (max-width: 1024px) {
  .intro {
    margin: 0 48px;
  } 
}

@media (max-width: 768px) {
  .intro {
    margin: 0 24px;
    max-width: none;
  } 
}

@media (max-width: 440px) {
  .intro {
    margin: 0 16px;
  } 
}