.cover__text {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media (max-width: 520px) {
  .cover__text {
    max-width: 288px;
  }
}